[submodule "external/glew"]
	path = external/glew
	url = https://github.com/Perlmint/glew-cmake
	branch = master
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "src/libft"]
	path = src/libft
	url = https://github.com/alrickemilien/libft.git
	branch = master
[submodule "src/libmatrix"]
	path = src/libmatrix
	url = https://github.com/alrickemilien/libmatrix
